<p class="text-align-center">{{ text }}</p>

{{ form }}

{% if cats['table']['#rows'] %}
  <div style="overflow: scroll; max-height: 700px;">
    <table{{ attributes.addClass('table') }}>
      {% if cats['table']['#header'] %}
        <thead>
          <tr>
            {% for cell in cats['table']['#header'] %}
              <td>{{ cell }}</td>
            {% endfor %}
            {% if 'administrator' in user.getroles %}
              <td>Options</td>
            {% endif %}
          </tr>
        </thead>
      {% endif %}

      <tbody>
        {% for row in cats['table']['#rows'] %}
          {% set row_classes = [
            not no_striping ? cycle(['odd', 'even'], loop.index0),
          ] %}
          <tr{{ row.attributes.addClass(row_classes) }}>
            <td>
              <div class="fix-size">
                <a href="{{row['img'] }}" target="_blank">
                  <img
                    class="cat-image"
                    src="{{row['img'] }}"
                    alt="{{ row['name'] }}"
                    title="{{ row['name'] }}"/>
                </a>
              </div>
            </td>
            <td>{{ row['name']}} </td>
            <td>{{ row['email'] }}</td>
            <td>{{ row['created']|date("d/m/y H:i:s")}}</td>
            {% if 'administrator' in user.getroles %}
              <td>
                <div class="option-links">
                  <button
                    type="button"
                    class="btn btn-danger use-ajax delete"
                    href="{{ path('moliek.catDelete', {'id': row['id']}) }}"
                    data-dialog-options="{&quot;width&quot;:400}"
                    data-dialog-type="modal">
                    Delete
                  </button>
                  <button
                    type="button"
                    class="btn btn-info use-ajax edit"
                    href="{{ path('moliek.catEdit', {'id': row['id']}) }}"
                    data-dialog-options="{&quot;width&quot;:700, &quot;title&quot;:&quot;Edit cat information&quot;}"
                    data-dialog-type="modal">
                    Edit
                  </button>
                </div>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endif %}
